body {
  .m-top-16 {
    margin-top: 16px;
  }

  .responsive-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .flex-align-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #root {
    height: 100%;
  }
}
